.scroll-container {
  display: flex;
  overflow-x: scroll;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background: #ffffff;

  position: relative;
  white-space: nowrap;
  margin-bottom: 50px;
}

.scroll-item {
  border-radius: 50%; /* Para hacer el ítem circular */
  padding: 5px; /* Ajustar el relleno para dar espacio alrededor de la imagen */
  position: relative;
}

.banner-icon {
  width: 120px; /* Ajustar el ancho de la imagen */
  height: 120px; /* Ajustar el alto de la imagen */
  border-radius: 50%; /* Hacer la imagen redonda */
  overflow: hidden; /* Ocultar los bordes que sobresalgan del borde redondo */
  display: flex; /* Utilizar flex para centrar la imagen */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  cursor: pointer;
}
.scroll-item:hover .banner-icon::before {
  content: ""; /* Esto es necesario para generar el pseudo-elemento */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  border-radius: 50%; /* Redondo como la imagen */
  cursor: pointer;
  transition: background-color 0.3s; /* Efecto suave al mostrar/ocultar */
  background-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.25) 50%,
    transparent 70%
  );
  border-radius: 50%;
  cursor: pointer;
  transition: background-image 0.3s;
}
.banner-text {
  display: flex; /* Utiliza flexbox para centrar el contenido */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  flex-direction: column; /* Alinea el contenido en columna */
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center; /* Centrar texto horizontalmente */
  opacity: 0; /* Ocultar texto inicialmente */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  pointer-events: none; /* Evitar que el texto bloque el evento click en el ícono */
  padding: 10px 0;
  transition: opacity 0.3s, background-color 0.3s;
}

.scroll-item:hover .banner-text {
  opacity: 1; /* Mostrar texto en hover */
  /* Transición a un color de fondo más suave */
  background-color: rgba(0, 0, 0, 0.25); /* Fondo menos intenso */
  color: #ffffff;
}
.banner-icon img {
  max-width: 100%; /* Hacer que la imagen se ajuste al contenedor */
  height: auto; /* Mantener la proporción de la imagen */
  display: block; /* Asegura que la imagen llene el espacio */
  transition: transform 0.3s ease-in-out;
}
.scroll-item:hover .banner-icon img {
  transform: scale(1.05);
}

/* ... Resto de tus estilos ... */

/* .banner-text p {
  font-weight: bold; 
} */

/* Hide scrollbar for all browsers */
.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Optional: Add arrows for manual scrolling */
.scroll-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 2rem; /* Adjust as needed */
  z-index: 10;
}

.scroll-arrow.left {
  left: 10px; /* Adjust as needed */
}

.scroll-arrow.right {
  right: 10px; /* Adjust as needed */
}

/* Rest of your styles... */

@media (max-width: 768px) {
  .scroll-container {
    /* Your responsive styles for smaller screens */
  }
}
