/* Estilos para los botones de acción */
.card-delete_button {
  background-color: #3498db;
  color: #fff !important;
  border: transparent;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-delete_button:hover {
  background-color: #2980b9;
}

/* Estilos para el contador de cantidad */
.counter {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.counter button {
  background-color: #3498db;
  color: #fff !important;
  border: transparent;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.counter button:hover {
  background-color: #2980b9;
}

.counter span {
  margin: 0 10px;
  font-size: 1.2em;
  font-weight: bold;
}

.card-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cart-item {
  display: flex;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 20px;
  width: 85%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.content-image_cart {
  margin-right: 25px;
}

.card-image_cart {
  width: 200px;
  height: auto;
}

.card-carts {
  flex: 1;
}

.card-name_cart {
  font-weight: bold;
}

.card-description_cart {
  margin-bottom: 10px;
}

.card-price_cart {
  font-weight: bold;
}

.card-stock_cart {
  color: #666;
}

.empty-cart {
  margin-top: 100px;
}

/* Estilos generales del carrito */
.card-cart {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Estilos para la sección de resumen del carrito */
.cart-summary {
  padding: 20px;
  border-top: 2px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-summary .subtotal,
.cart-summary .total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
}

.cart-summary .total {
  font-weight: bold;
  border-top: 1px solid #e0e0e0;
  padding-top: 10px;
}

.proceed-to-checkout {
  padding: 10px 20px;
  font-size: 1.2em;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
  align-self: flex-end;
}

.proceed-to-checkout:hover {
  background-color: #ffc107 !important;
  cursor: pointer;
}

/* Estilo para el carrito vacío en general */
.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
  text-align: center;
}

/* Estilos específicos para el icono */
.empty-cart-icon {
  color: black;
  font-size: 6rem;
  margin-bottom: 20px;
}

/* Estilos específicos para el texto */
.empty-cart-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #555;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .empty-cart-icon {
    font-size: 4rem;
  }

  .empty-cart-text {
    font-size: 1.2rem;
  }
}
