.ticket-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  color: #333;
}

.order-resume_title {
  padding: 30px 0 0 0;
  text-align: center;
  background: linear-gradient(to right, #00b4db, #0083b0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ticket-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.ticket-image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.ticket-details {
  flex: 1;
}

.ticket-name {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.ticket-description {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.ticket-quantity {
  font-size: 14px;
  color: #333;
}

.ticket-price {
  font-weight: bold;
}

.ticket-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #eaeaea;
}

.confirm-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.confirm-button:hover {
  background-color: #565656;
}
.total-amount {
  font-size: 20px;
  font-weight: bold;
}

.total-amount span {
  color: #333;
}
