/* AboutUs.css
.about-container {
  color: #e5e5e5;
  background-color: #0b0c10;
  padding: 2rem;
  border-radius: 8px;
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  max-width: 100%;
  margin-top: 87px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-header {
  color: #e5e5e5;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 1px solid #505050;
  padding-bottom: 10px;
}

.about-subheader {
  color: #cccccc;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.about-paragraph {
  margin-bottom: 1rem;
  text-align: left;
  font-size: 1rem;
  color: #d5d5d5;
}

.about-section {
  margin-bottom: 2rem;
}


@media (max-width: 768px) {
  .about-container {
    padding: 1rem;
  }

  .about-header {
    font-size: 2rem;
  }

  .about-subheader {
    font-size: 1.3rem;
  }
}

@media (max-width: 480px) {
  .about-paragraph {
    font-size: 0.9rem;
  }
} */
#about-us {
  padding: 50px 0;
  background-color: #f9f9f9; /* Cambia el color de fondo según el diseño */
}

#about-us h2 {
  color: #333; /* Cambia el color según el diseño */
  margin-bottom: 20px;
}

#about-us p {
  font-size: 16px; /* Ajusta el tamaño de fuente según sea necesario */
  line-height: 1.6; /* Para la legibilidad del texto */
}

.btn-primary {
  background-color: #0044cc; /* Usa el color principal de la página para el botón */
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

/* Asegúrate de añadir estilos responsivos */
@media (max-width: 768px) {
  #about-us {
    padding: 30px 15px;
  }
}
