/* DESCKTOP */
@media (min-width: 481px) and (min-width: 992px) {
  .detail-container {
    display: flex;
    max-width: 1200px;
    flex-direction: row;
    margin: 50px auto;
    gap: 50px;
    padding: 20px;
    background-color: #fff;
    height: 532px;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
    margin-top: 50px;
  }

  .info-content {
    display: flex;
    flex-direction: column;
  }

  .image-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .info-container {
    flex: 1 1;
    align-self: center;
  }
  .product-image_detail {
    width: 80%;
    height: auto;
  }

  .info-container_title {
    flex: 1 1;
    margin-top: 128px;
  }

  /* Estilos para el título con efecto de gradiente */
  .product-title {
    font-size: 34px;
    font-weight: unset;
    margin-bottom: 20px;
    background: linear-gradient(to right, #00b4db, #0083b0);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .product-description {
    font-size: 16px;
    margin-bottom: 20px;
  }

  /* Estilo para resaltar el precio */
  .product-price {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ff4500;
  }

  .product-stock {
    font-size: 16px;
    margin-bottom: 30px;
  }

  /* Estilos para el botón con efecto de hover y transformación */
  .add-to-cart-button {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 10px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .add-to-cart-button:hover {
    background-color: #565656;
    transform: scale(1.05);
  }

  /* CONTENT PRICE */
  .product-price {
    font-size: 1em;
    color: #333;
  }

  .original-price {
    text-decoration: line-through;
    color: #777;
    font-size: 20px;
  }

  .offert-price_product {
    color: #333;
    font-size: 1.5em;
    font-weight: bold;
  }

  .offert-percentage {
    font-size: 0.9em;
    color: #4caf50;
    font-weight: bold;
    margin-left: 20px;
  }
}

/* MOBILE */
@media (min-width: 250px) and (max-width: 480px) {
  .detail-container {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    height: 100vh;
    padding: 20px;
    background-color: #fff;
    height: 532px;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
    margin-top: 100px;
  }

  .image-container {
    width: 100%;
    height: auto;
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    order: 2;
  }

  .product-image_detail {
    width: 90%;
    height: auto;
  }

  .info-container {
    margin-top: 0;
    padding: 10px;
    overflow-y: auto;
    order: 3;
  }

  .info-container_title {
    margin-bottom: 15px;
    font-size: 1rem;
    -webkit-text-fill-color: transparent !important;
    order: 1;
  }

  .product-title {
    font-size: 34px;
    margin-bottom: 20px;
    background: linear-gradient(to right, #00b4db, #0083b0);
    -webkit-background-clip: text;
    color: transparent;
  }
  .product-price {
    font-size: 1rem;
  }
  .product-description {
    margin-bottom: 15px;
    font-size: 0.8rem;
  }

  .add-to-cart-button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 10px 30px;
    cursor: pointer;

    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .add-to-cart-button:hover {
    background-color: #565656;
    transform: scale(1.05);
  }

  .content-price {
    display: flex;
    flex-direction: column;
  }

  .content-button_price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #565656;
  }

  .content-productPrice_offertPrice {
    display: flex;
    flex-direction: column;
  }

  .offert-percentage {
    font-size: 1.5em;
    color: #00a650;
    font-weight: 400;
  }
  .offert-price_product {
    margin-right: 20px;
  }
}
/* productos relacionados */
.scroll-container_detail {
  display: flex;
  overflow-x: scroll;
  align-items: center;
  padding: 10px;
  background: #ffffff;
  justify-content: space-around;
  position: relative;
  white-space: nowrap;
  margin-bottom: 50px;
}

.scroll-item_detail {
  border-radius: 50%;
  padding: 5px;
  position: relative;
}

.banner-icon_detail {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.scroll-item_detail:hover .banner-icon_detail::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
  background-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.25) 50%,
    transparent 70%
  );
  border-radius: 50%;
  cursor: pointer;
  transition: background-image 0.3s;
}
.banner-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  padding: 10px 0;
  transition: opacity 0.3s, background-color 0.3s;
}

.scroll-item_detail:hover .banner-text {
  opacity: 1;

  background-color: rgba(0, 0, 0, 0.25);
  color: #ffffff;
}
.banner-icon_detail img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease-in-out;
}
.scroll-item_detail:hover .banner-icon_detail img {
  transform: scale(1.05);
}

/* Oculta la barra de desplazamiento en todos los navegadores */
.scroll-container_detail::-webkit-scrollbar {
  display: none; /* para Safari y Chrome */
}

.scroll-container_detail {
  -ms-overflow-style: none; /* para Internet Explorer, Edge */
  scrollbar-width: none; /* para Firefox */
}

.scroll-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 2rem;
  z-index: 10;
}

.scroll-arrow.left {
  left: 10px;
}

.scroll-arrow.right {
  right: 10px;
}

.content-detail-title_products {
  display: flex;
  justify-content: center;
}

.detail-title_products {
  font-size: 1.3rem;
}

/* MOBILE */
@media (min-width: 250px) and (max-width: 480px) {
  .banner-icon_detail {
    width: 200px;
    height: 200px;
  }

  .detail-title_products {
    font-size: 1rem;
  }

  .scroll-container_detail {
    height: 50px;
  }
}
