body {
  padding-top: 88px; /* Empuja el contenido debajo del Navbar */
}
.logo {
  max-width: 100%; /* Asegura que el logo no sea más grande que su contenedor */
  height: auto; /* Mantiene la proporción del logo */
}

/* DESCKTOP */
@media (min-width: 481px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }

  .navbar .container,
  .navbar-collapse {
    /* width: 100%; */
    display: flex;
    justify-content: space-around;
  }

  .navbar .nav {
    display: flex;
    width: auto;
    justify-content: space-around;
  }

  .navbar .nav .nav-item {
    margin: 0;
  }

  .navbar .me-auto.mt-2 {
    /* width: 100%; */
    flex-wrap: wrap;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    padding: 0;
  }

  .logo {
    width: auto; /* Tamaño original del logo en escritorio */
    max-width: 250px; /* Máximo tamaño del logo en escritorio */
  }
  .custom-navbar .nav {
    display: flex;
    flex-wrap: nowrap;
    /* overflow-x: auto;
    -webkit-overflow-scrolling: touch; */
  }

  .custom-navbar .nav-link {
    white-space: nowrap; /* Evita que los títulos de los filtros pasen a la siguiente línea */
  }
  .custom-navbar {
    /* .futuristic-silver {
      background-color: rgba(
        192,
        192,
        192,
        1
      ); 
      backdrop-filter: blur(10px);
    } */

    backdrop-filter: blur(20px);
  }

  .custom-navbar .nav-link,
  .custom-navbar .navbar-brand {
    color: rgb(99, 99, 99) !important;
    font-weight: 600;
    font-size: 1rem;
  }

  .custom-navbar .nav-link:hover {
    color: rgb(195, 188, 255) !important;
  }
}

/* MOBILE */
@media (max-width: 480px) {
  .navbar-brand {
    flex-grow: 1; /* Permite que la marca del navbar ocupe todo el espacio disponible */
    text-align: center; /* Centra el contenido de la marca del navbar */
  }

  .navbar .navbar-brand .logo {
    width: 100%;
    max-width: 251px;
  }

  /* Ocultar los elementos que no queremos mostrar en móvil, si es necesario */
  .navbar .me-auto.mt-2 {
    display: none;
  }

  .navbar-toggle {
    /* Asegúrate de que el botón de toggling del navbar no esté centrado */
    position: absolute;
    right: 10px; /* O el espacio que necesites */
    top: 10px; /* O el espacio que necesites */
  }
}
